
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    50%  {background-color:yellow; left:50px; top: 0px;}
    100%  {background-color:blue; left:0px; top:0px;}
  }

label { 
    font-size: 135%;
    color: #FFFFFF; 
}

body {
    background: #333335; 
}

input {
    width: 180px;
    height: 22px;
}

nav {
    display: flex;
    background: rgb(111, 144, 175); 
    position: sticky;
    top: 0;
}

#navList {
    display: flex;
    font-size: 110%;
    list-style: none;
    padding: 12px;
}

ul li{
    margin: .9em; 
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 120%;
}

#list li {
    border-radius: 50px;
    border: 10px solid rgb(111, 144, 175);
    width: 300px;
    background: rgb(111, 144, 175);
    color: #FFFFFF;
}

#list li:hover {
    /* color:rgb(111, 144, 175);
    font-size: 120%;  */
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
}

#list {
    font-size: 110%;
    list-style: none;
    padding-left: 0px; 
}

