
label { 
    font-size: 200%;
    color: #FFFFFF; 
    display: block;
    text-align: center; 
    border: 10px;
    border-color:rgb(69, 90, 110);
}

body {
    background: rgb(111, 144, 175); 
}

/* #borderBox {
    background-color: #FFFFFF;
    border: 10px solid #FFFFFF;
    padding: 20px;
    width: 600px;
    margin: auto; 
    margin-top: 10px;
} */

#todoItemInput {
    display: flex;
    width: 480px;
    height: 31px;
    font-size: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

ul li{
    margin: .9em; 
    position: relative;
}

#list li {
    border: 10px solid rgb(69, 90, 110);
    background: rgb(69, 90, 110);
    color: #FFFFFF;
    width: 466px;
    font-size: 115%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#list li:hover {
    position: relative;
    font-size: 135%; 
    text-decoration: line-through;
}

#list {
    font-size: 120%;
    list-style: none;
    padding-left: 0px; 
}

